@import "./../../Style/color.scss";

.mealList {
  background-color: $white-color;
  border-radius: 20px;
  margin: 25px auto;
  max-width: 800px;
  padding: 25px;
  ul {
    li {
      border-bottom: solid 1px $ash-color;
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      padding-bottom: 15px;

      .meal-amount {
        color: $orange-color;
        font-size: 16px;
        font-weight: bold;
      }
      .meal-count {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        h4 {
          margin-right: 5px;
          padding-bottom: 0px;
        }
        input[type="number"] {
          padding: 5px;
          width: 70px;
        }
      }
      & > div {
        form {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
      }
      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}
