@import "./../../Style/color.scss";

header {
  background-color: $primary-color;
  color: $white-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}

.cart {
  background-color: $brown-color;
  border-radius: 22px;
  color: $white-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  min-height: 44px;
  padding: 10px 22px;
  &-icon {
    width: 22px;
  }
  &-text {
    font-size: 16px;
    font-weight: 600;
    padding: 0px 12px;
  }
  &-count {
    background-color: $primary-color;
    @extend .cart-text;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 5px;
  }
}
